
.switch-container {
  position: absolute;
  top: 2px;
  right: 3px;
}

input[type="checkbox"].switch  {
  position: absolute;
  opacity: 0;
}

input[type="checkbox"].switch + div {
  vertical-align: middle;
  width: 40px;
  height: 20px;
  border-radius: 999px;
  background-color: #ffffff;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  cursor: pointer;
  border: 1px solid black;
}

input[type="checkbox"].switch + div span {
  position: absolute;
    font-size: 1.6rem;
    color: white;
    margin-top: 12px;
}

input[type="checkbox"].switch + div span:nth-child( 1 ) {
    margin-left: 15px;
}

input[type="checkbox"].switch + div span:nth-child( 2 ) {
    margin-left: 55px;
}

input[type="checkbox"].switch:checked + div {
  width: 24px;
  background-position: 0 0;
  background-color: #fff;
}

input[type="checkbox"].switch + div {
  width: 24px;
  height: 12px;
}


input[type="checkbox"].switch:checked + div {
  border: 1px solid lightseagreen;
}

input[type="checkbox"].switch + div > div {
  float: left;
  width: 8px; height: 8px;
  border-radius: inherit;
  background: black;
  -webkit-transition-timing-function: cubic-bezier(1,0,0,1);
  transition-timing-function: cubic-bezier(1,0,0,1);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color;
  transition-property: transform, background-color;
  pointer-events: none;
  margin-top: 2px;
  margin-left: 1px;
}

input[type="checkbox"].switch:checked + div > div {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
  background-color: lightseagreen;
}

input[type="checkbox"].bigswitch.switch + div > div {
  width: 11px;
  height: 11px;
  margin-top: 1px;
}


input[type="checkbox"].switch:checked + div > div {
  -webkit-transform: translate3d(12px, 0, 0);
  transform: translate3d(12px, 0, 0);
}

